<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="false"/>
            <property name="tokens"
                      value="CLASS_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF, INTERFACE_DEF"/>
        </module>
        <module name="RegexpMultiline">
            <property name="format" value="\n\s*\n\s*\n"/>
            <property name="message" value="Avoid multiple empty lines."/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="EmptyCatchBlock"/>
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="tabWidth" value="4"/>
        </module>
    </module>
</module>
